@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

html {
  font-size: 1.5rem;
}

body {
  background-color: rgb(225, 186, 158);
  font-family: "Nunito", sans-serif;
}

p {
  color: rgb(221, 62, 62);
  margin-top: 2em;
}

article {
  margin: 1em;
  padding: 1em;
  padding-bottom: 2em;
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: 15px;
}

img {
  border-radius: 15px;
  display: block;
}

header {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar a {
  text-decoration: none;
}

.navBar img {
  width: 3em;
}

.navBar {
  background-color: rgb(168, 191, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

.navBar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  text-decoration: none;

}

.navBar li {

  color: white;

}

.navBar li:hover {
  color: black;
}


.search {
  width: 95%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

#datum {
  float: left;
}

#von-bis {
  padding-top: 0.35rem;
  float: right;
}
#no-matches {
  text-align: center;
  font-size: 2em;
  margin-top: auto;
}
#maps-link {
  float: right;
  padding-bottom:10px;
}
#adress {
  float: left;
}

#maps-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#maps-link:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* Adding style to the calendar */

.calendarCard {
  background-color: rgb(38, 75, 75);
  align-items: center;
  background-color: rgb(153, 153, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
}

.datumStyle {
  background-color: beige;
  width: auto;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

}
.allCalendarCards {
  background-color: antiquewhite;
}

/* impressum */

#lizenz {
  border-radius: 0px;
  display: inline-block;
}
.impressum-header {
  text-align: center;
  padding-top: 2em;
}
.block-text {
  display: inline-block;
  padding: 2em;
  padding-left: 1rem;
  padding-right: 1em;
}
.envelope {
  color:#000;
}
.names {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
}
@media (min-width: 1000px) {
  .block-text {
    padding-left: 10rem;
    padding-right: 10em;
  }
}
