@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

html {
  font-size: 1.5rem;
}

body {
  background-color: rgb(225, 186, 158);
  font-family: "Nunito", sans-serif;
}

p {
  color: rgb(221, 62, 62);
  margin-top: 2em;
}

article {
  margin: 1em;
  padding: 1em;
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: 15px;
}

img {
  border-radius: 15px;
  display: block;
}

header {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 95%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

#datum {
  float: left;
}

#von-bis {
  padding-top: 0.35rem;
  float: right;
}

/* Adding style to the calendar */

.calendarCard {
  background-color: rgb(38, 75, 75);
  align-items: center;
  background-color: rgb(153, 153, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;


}

.datumStyle {
  background-color: beige;
  width: auto;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

}

.allCalendarCards {

  background-color: antiquewhite;

}